.container {
  display: grid;
  grid-template-columns: 1 fr 1 fr;
  grid-gap: 0 10%;
  justify-items: end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.image {
  position: relative;
  width: 300px;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;

  &:nth-child(2n) {
   justify-self: start;
 }

 @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      background-image: url('../img/image#{$i}.jpg');
    }
  }
}

.fake-scroll {
  position: absolute;
  top: 0;
  width: 1px;
}
