@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
  font-family: "Quirky Spring";
  src:
  url("./popup-assets/QUIRKYSPRING-Regular.woff") format("woff"), /* Modern Browsers */
    url("./popup-assets/QUIRKYSPRING-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

:root{
  --white: #F2F2F2;
  --red: #EA4335;
  --blue: #4285F4;
}

h1{
  font-family: "Quirky Spring", "Open Sans", sans-serif;
  color: var(--red);
  font-size: 2em;
  margin-bottom: 0;
}

.logo{
  display: flex;
  justify-content: flex-end;
}
.logo img{
  width: 25px;
}
